.movies {
  display: flex;
  flex-direction: column;
}

.movies__more {
  margin: 50px 0 80px;
  align-self: center;
  background-color: #F9F9F9;
  border-radius: 6px;
  width: 320px;
  height: 26px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  border:none;
}

.movies__more:hover {
  cursor: pointer;
  opacity: 70%;
  transition: .2s ease-in-out;
  outline: none;
}

@media screen and (max-width: 768px) {
  .movies__more {
    height: 36px;
  }
}

@media screen and (max-width: 425px) {
  .movies__more {
    width: 240px;
  }
}
