.search-form {
  padding: 70px 70px 47px;
  display: grid;
  grid-template-columns: auto;
  justify-content: space-between;
}


.search-form__input {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
  color: #A0A0A0;
  width: calc(100vw - 270px);
  margin:70px 0 13px;
  border:none;
}

.search-form__input:focus {
  outline:none;
}

.search-form__btn {
  background-color: #000000;
  border-radius: 48px;
  width: 80px;
  height: 34px;
  padding:0;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
  margin:70px 0 13px;
}
