.not-found{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

.not-found__title {
  font-size: 140px;
  line-height: 169px;
  margin-top: 246px;
  margin-bottom: 5px;
  font-weight: normal;
}

.not-found__subtitle {
  font-size: 16px;
  line-height: 19px;
  margin-top:0;
  margin-bottom: 184px;
}

.not-found__link{
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #000;
}

.not-found__link:hover {
  opacity: 70%;
  transition: .2s ease-in-out;

}

@media screen and (max-width: 768px) {
  .not-found__title {
    margin-top: 408px;
  }
  .not-found__link{
    margin-bottom: 222px;
  }
}

@media screen and (max-width: 425px) {
  .not-found__title {
    margin-top: 329px;
    font-size: 80px;
    line-height: 97px;
    margin-bottom: 10px;
  }

  .not-found__subtitle {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 284px;
  }
  .not-found__link{
    margin-bottom: 30px;
  }
}
