@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: url("../../vendor/fonts/inter-regular.woff2") format("woff2"),
       url("../../vendor/fonts/inter-regular.woff2") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  src: url("../../vendor/fonts/inter-700.woff2") format("woff2"),
       url("../../vendor/fonts/inter-700.woff") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  src: url("../../vendor/fonts/inter-900.woff2") format("woff2"),
       url("../../vendor/fonts/inter-900.woff") format("woff");
}

.page {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  background-color: #fff;
  min-width: 320px;
  min-height:100vh;
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  position: relative;
}
