.about-me {
  padding: 110px 0 125px;
  display: grid;
  margin: 0 70px;
  grid-template-columns: 600px auto;
  justify-content: space-between;
}

.about-me__subtitle{
  padding-top: 66px;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0;
}

.about-me__text-me{
  grid-column-start:1;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding-top: 18px;
}

.about-me__text {
  grid-column-start:1;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  padding-top: 26px;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  object-fit: cover;
  padding-top: 66px;
  margin: 0;
  grid-row-start:2;
  grid-column-start:2;
}

.about-me__links{
  display: flex;
  gap: 20px;
  list-style: none;
  padding:99px 0 0;
  margin:0;
  grid-column:1 / span 2;
}
.about-me__link{
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.about-me__link:hover {
  opacity: 70%;
  transition: .2s ease-in-out;
}


@media screen and (max-width: 1024px) {
  .about-me{
    grid-template-columns: 364px auto;
  }

  .about-me__photo {
    width: 255x;
    height: 307px;
  }
}

@media screen and (max-width: 768px) {
  .about-me {
    padding: 90px 0;
    margin: 0 50px;
    grid-template-columns: auto auto;
    column-gap: 49px;
  }

  .about-me__subtitle{
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__text-me {
    padding-top: 16px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 18px;
    padding-top: 20px;
  }

  .about-me__links {
    padding:87px 0 0;
  }
}

@media screen and (max-width: 625px) {
  .about-me{
    column-gap: 15px;
  }

  .about-me__photo{
    width: 189px;
    height: 229px;
  }
  .about-me__links{
    padding:50px 0 0;
  }
}

@media screen and (max-width: 425px) {
  .about-me {
    padding: 70px 0 70px;
    margin: 0 14px;
    display: flex;
    flex-direction: column;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
    padding-top: 60px;
    align-self: center;
  }
  .about-me__text-container {
    order: 2;
  }

  .about-me__subtitle{
    padding-top: 40px;
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__text-me{
    padding-top: 20px;
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px;
    padding-top: 20px;
  }
  .about-me__links {
    padding: 40px 0 0;
    gap: 26px;
  }

}
